<div class="row collapse">
  <h1 id="initiatives-count" class="title-action__title section-heading">
    <%= render partial: "count" %>
  </h1>
  <%= link_to initiatives_path, class: "title-action__action button small" do %>
    <%= t(".go_back") %>
  <% end %>
</div>
